@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: bumblebee , dark ;
}



[data-theme='bumblebee'] {
  background-image: url('/circuit-board-light.svg');
  
}

[data-theme='dark'] {
  background-image: url('/circuit-board-dark.svg')
  
}
[data-theme='dark'] .github-dark {
  display: block;
}

[data-theme="dark"] .github-light {
  display: none;
}
html {
  scroll-behavior: smooth;
}
